.ant-carousel .slick-slide {
    text-align: center;
    height: auto;
    line-height: auto;
    background: #fff;
    overflow: hidden;
  }

 .ant-carousel {
    padding-bottom: 16px;
    padding-top: 16px;
 }

.image-resize {
    display: block;
    height:'100%';
    width:'100%';
    object-fit: cover;
    float: center;
}