@import 'assets/styles/mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

/* Color pallet: https://www.color-hex.com/color-palette/82115   */
/*  
https://colorhunt.co/ 
https://colorhunt.co/palette/137720

*/
h1 {
  // border: 2px blue dotted;
  font-family: 'Tangerine', sans-serif;
  font-size: 80px;
  text-align: center;
  text-align: center;
}
h2 {
  // border: 2px green dotted;
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-align: center;
}
p, ul, li {
  // border: 2px teal dotted;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}

/* Landing Banner at top of the page */
.landing {
  // border: 5px red dotted;
  position: relative;
  padding: 5% 5% 5% 5%;
  overflow: visible;
  // background-image: url("/resources/images/okanagan_getaways/okanagan_getaways_logo.svg");
  // background-size: fill;
  // background-repeat: no-repeat;
  // background-size: 100% auto;
  // background-color: #f381e5;
}
.landing h1, .landing p {
  // border: 5px red dotted;
  position: relative;
  overflow: visible;
  text-align: center;
}
.landing h1 {
  // border: 5px red dotted;
  color: #2e8cea;
  text-shadow: 4px 4px 4px #fffa67;
  font-size: 100px;
}
.landing p {
  // border: 5px red dotted;
  font-size: 20px;
}

/* Introduction to website */
.introduction {
  border: 25px #2e8cea solid;
  position: relative;
  grid-template-rows: 70px auto;
  height: 600px;
  padding: 5% 5% 5% 5%;
  background-color: #fffa67;
  border-radius: 15px;
}
.introduction p {
  // border: 2px green dotted;
  color: #2e8cea;
}

/* Mission Statement text block */
.mission {
  border: 25px #2e8cea solid;
  position: relative;
  grid-template-rows: 70px auto;
  height: 600px;
  padding: 5% 5% 5% 5%;
  background-color: #fffa67;
  border-radius: 15px;
}

.mission p {
  // border: 2px green dotted;
  text-align: left;
  color: #2e8cea;
}
/* Services block */
.services {
  border: 25px #2e8cea solid;
  background-color: #fffa67;
  column-count: 2;
  border-radius: 15px;
}
.services ul {
  text-align: center;
  color: #2e8cea;
  list-style-position: inside;
}
.services li {
  // border: 2px green dotted;
  text-align: left;
  padding: 5px 5px 5px 5px;
}
.img1 {
  // border: 2px green dotted;
  position: relative;
  width: 100%;
  height: auto;
  // border:2px solid #fff;
  padding: 5px;
  border-radius: 25px;
}

/* List styling : styling bullet points  */
// .management {
//    list-style-image: `url(${require('https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/0023/3397/brand.gif?itok=5zWVAsvf')})`
// }

/* Video section located at the bottom of the page */
.videoBox {
  // border: 2px green dotted;
  position: relative;
  padding-bottom: 52%;
  padding-top: 0px;
}

.videoBox iframe, .videoBox object, .videoBox embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  border: 2px rgb(23, 20, 20) solid;
  border-radius: 12px;
}